<section id="projects">
    <h2>Projects & Learning</h2>
    
    <section class="types">
        <h3>Project</h3>
        <h3>Technical Challenge</h3>
        <h3>Course</h3>
    </section>
    
    <!-- Conteúdo dos projetos -->
    <div class="content-projects row">
        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>Pomodoro</h4>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/bootstrap.svg" alt="bootstrap">
                <img src="assets/icons/html5.svg" alt="html5">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal1">
                View more
            </button>           
        </div>
        
        <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Pomodoro</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="min-height: 200px;">
                        <img src="assets/imgs/project1.png" alt="pomodoro" class="img-project">
                        <div class="description">
                            <p>
                                This project aims to develop a tool based on the Pomodoro technique, widely 
                                used to increase focus and productivity by dividing work time into timed intervals. 
                                The central idea is to promote efficient time management, 
                                helping users stay focused and avoid procrastination.
                            </p>
                            <div class="buttons">
                                <a href="#" class="btn btn-primary">Preview</a>
                                <a href="#" class="btn btn-primary">View code</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>Semaphore</h4>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/html5.svg" alt="html5">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal2">
                View more
            </button>           
        </div>
        
        <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Semaphore</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="min-height: 200px;">
                        <img src="assets/imgs/project2.png" alt="Semaphore" class="img-project">
                        <div class="description">
                            <p>
                                In this challenge, you must implement the logic to control a simple traffic light, where only
                                one color will be lit at a time. The traffic light should 
                                alternate between the colors "Green," "Yellow," and "Red," ensuring that only one color is active at any given moment.
                            </p>
                            <div class="buttons">
                                <a href="#" class="btn btn-primary">Preview</a>
                                <a href="#" class="btn btn-primary">View code</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>To-Do list</h4>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/bootstrap.svg" alt="bootstrap">
                <img src="assets/icons/html5.svg" alt="html5">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal3">
                View more
            </button>           
        </div>
        
        <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">To-Do list</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="min-height: 200px;">
                        <img src="assets/imgs/project3.png" alt="To-do List" class="img-project">
                        <div class="description">
                            <p>
                                The To-Do List project is a simple and intuitive web application that allows users to efficiently 
                                manage their daily tasks. The user-friendly interface makes it easy to add, edit, and remove tasks, 
                                helping users stay organized and productive.
                            </p>
                            <div class="buttons">
                                <a href="#" class="btn btn-primary">Preview</a>
                                <a href="#" class="btn btn-primary">View code</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>Courses</h4>
            <section class="stacks">
                <img src="assets/icons/buzzfeed.svg" alt="certificate">
            </section>
            <button class="btn btn-primary">Certificates</button>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>Age calculator</h4>
            <section class="stacks">
                <img src="assets/icons/javascript.svg" alt="javascript">
                <img src="assets/icons/html5.svg" alt="html5">
                <img src="assets/icons/css3.svg" alt="css">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal4">
                View more
            </button>           
        </div>
        
        <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Age calculator</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="min-height: 200px;">
                        <img src="assets/imgs/project4.png" alt="Age calculator" class="img-project">
                        <div class="description">
                            <p>
                                This project aims to develop an Age Calculator that allows users to calculate their 
                                age in years, months, and days based on their date of birth. The application will be simple to 
                                use and provide instant results, helping users better understand their age in different units of measure.
                            </p>
                            <div class="buttons">
                                <a href="#" class="btn btn-primary">Preview</a>
                                <a href="#" class="btn btn-primary">View code</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content hover">
            <h4>Landing page</h4>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/bootstrap.svg" alt="bootstrap">
                <img src="assets/icons/html5.svg" alt="html5">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal5">
                View more
            </button>           
        </div>
        
        <div class="modal fade" id="modal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-centered"> <!-- Aqui adiciona modal-dialog-centered -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Landing page</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" style="min-height: 200px;">
                        <img src="assets/imgs/project1.png" alt="pomodoro" class="img-project">
                        <div class="description">
                            <p>This project aims to develop a tool based on the Pomodoro technique, widely 
                                used to increase focus and productivity by dividing work time into timed intervals. 
                                The central idea is to promote efficient time management, 
                                helping users stay focused and avoid procrastination.</p>
                            <div class="buttons">
                                <a href="#" class="btn btn-primary">Preview</a>
                                <a href="#" class="btn btn-primary">View code</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div> <!-- Corrigido fechamento -->
</section>
