<section id="projects">
    <h2>Projects & Learning</h2>
    <section class="types">
        <h2>Project</h2>
        <h2>Technical Challenge</h2>
        <h2>Course</h2>
    </section>
    <div class="content-projects row">
        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content">
            <h3>Pomodoro</h3>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/bootstrap.svg" alt="angular">
                <img src="assets/icons/html5.svg" alt="angular">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View more
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content">
            <h3>Semaphore</h3>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/html5.svg" alt="angular">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View more
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content">
            <h3>To-do list</h3>
            <section class="stacks">
                <img src="assets/icons/angular.svg" alt="angular">
                <img src="assets/icons/typescript.svg" alt="typescript">
                <img src="assets/icons/html5.svg" alt="angular">
                <img src="assets/icons/sass.svg" alt="sass">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View more
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div> 

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content">
            <h3>Age calculator</h3>
            <section class="stacks">
                <img src="assets/icons/bootstrap.svg" alt="angular">
                <img src="assets/icons/html5.svg" alt="angular">
                <img src="assets/icons/css3.svg" alt="angular">
                <img src="assets/icons/javascript.svg" alt="javascript">
            </section>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                View more
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    ...
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-5 col-xl-3 content">
            <h3>Courses</h3>
            <button class="btn btn-primary">certificates</button>
        </div> 
    </div>
</section>
