.btn {
    background-color: var(--blue-010);
    color: var(--black-010);
    padding: 0.5em;
    width: 8em;
    font-weight: bold;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--blue-020);
    }
}


.btn-menu-mobile {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: 0.4s ease all;

    &:hover {
        transform: scale(1.1);
    }
}

.theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  outline: none;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    transform: rotate(20deg);
  }
}
