.btn {
    background-color: var(--blue-010);
    color: var(--black-010);
    padding: 0.5em;
    width: 8em;
    font-weight: bold;
    border-radius: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease all;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: var(--blue-020);
    }
}


.btn-menu-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: 0.4s ease all;

  &:hover {
    transform: scaleX(1.2);
  }
}
