
h1 {
    margin-left: 1em;
    font-size: 3em;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: radial-gradient(circle, var(--color-core-1) 0%, var(--color-core-2) 20%, var(--color-core-3) 40%, var(--color-core-4) 60%, 
    var(--color-core-5) 80%, var(--color-core-1) 100%);
    background-size: 180%;
    animation: animate 15s ease infinite;
    font-weight: 200;
}

h3 {
    font-size: 1.2em;
}

h2, span {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: radial-gradient(circle, var(--color-core-1) 0%, var(--color-core-2) 20%, var(--color-core-3) 40%, var(--color-core-4) 60%, 
    var(--color-core-5) 80%, var(--color-core-1) 100%);
    background-size: 180%;
    animation: animate 15s ease infinite;
    font-weight: 300;
    margin-top: 0.8em;
}

p {
    line-height: 1.8em;
    letter-spacing: 0.7;
    text-align: justify;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 100% 0;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0 100%;
    }
    100% {
        background-position: 0 0;
    }
}