:host {
    position: fixed;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1em;
    border-radius: 0.8em;
    gap: 1em;
    z-index: 50;

    h1 a {
      color: var(--black-010);
      font-family: "Great Vibes", cursive;
    }

    nav ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1em;

      li a {
        color: var(--black-010);
        transition: 0.4s ease all;

        &:hover {
          color: var(--blue-020);
        }
      }
    }

    @media (max-width: 992px) {
      width: 96%;
      
      .nav-desktop {
        display: none;
      }
    }
}
