<h1><a href="#">H</a></h1>

<nav class="nav-desktop">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#courses">Courses</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>


<nav class="nav-mobile">
  <button class="btn-menu-mobile" (click)=" stateMenu()">
    @if(showMenu === false) {
      <img src="assets/icons/menu.svg" alt="menu">
    } @else {
      <img src="assets/icons/close.svg" alt="close menu">
    }
  </button>
  @if(showMenu === true) {
    <ul class="animate__animated animate__bounceInUp">
      <li><a href="#home">Home</a></li>
      <li><a href="#projects">Projects</a></li>
      <li><a href="#courses">Courses</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  }
</nav>
