:host {
    #about {
        min-height: 40vh;
        background: var(--white-010);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black-010);
        padding: 1em; 
        scroll-margin-top: 35px;
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 80em;    
            
            .stacks {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                gap: 1em;
                margin-top: 1em;

                img {
                    padding-left: 0;
                }
            }

            .line-time {
                position: relative;
                margin-left: 0.5em;

                .event {
                    margin-left: 1em;
                    margin-bottom: 1em;
                    position: relative;

                    p {
                        margin-bottom: 0;
                    }
                    
                    &::before {
                        content: '';
                        position: absolute;
                        background-color: var(--black-010);
                        border: 5px solid var(--white-010);
                        border-radius: 50%;
                        left: -23.5px;
                        bottom: 40%;
                        width: 20px;
                        height: 20px;
                        z-index: 7;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    background-color: var(--black-010);
                    width: 0.3em;
                    height: 100%;
                }
            }
        }
    }
}
