:host {
    #about {
        min-height: 60vh;
        background: linear-gradient(175deg, var(--black-010) 25%, var(--white-010) 25%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--black-010);
        padding: 1em; 
        padding-top: 10em;
        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80em;    

            .description {  
                padding-top: 2em;

                h1, h2 {
                    padding-bottom: 0.2em;
                    font-weight: 400;
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    background-image: radial-gradient(circle, var(--color-core-1) 0%, var(--color-core-2) 20%, var(--color-core-3) 40%, var(--color-core-4) 60%, 
                    var(--color-core-5) 80%, var(--color-core-1) 100%);
                    background-size: 180%;
                    animation: animate 15s ease infinite;
                    border-bottom: 2px solid var(--color-core-5);
                }

                h1 {
                    margin-bottom: 1em;
                }

                h2 {
                    margin-top: 1em;
                }

                p {
                    line-height: 2em;
                    letter-spacing: 0.7;
                    text-align: justify;
                }
            }

            .stacks {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                gap: 1em;
                margin-top: 1em;

                img {
                    width: 40px;
                    height: 40px;
                    padding: 0.5em;

                    &:hover {
                        background-color: var(--color-core-5);
                    }
                }
            }
        }
    }

    @media(max-width: 1400px) {
        #about {
            background: linear-gradient(175deg, var(--black-010) 25%, var(--white-010) 25%);
            .container {
                width: 60em;
            }
        }
    }

    @media(max-width: 1200px) {
        #about {
            background: linear-gradient(175deg, var(--black-010) 25%, var(--white-010) 25%);
            
            .container {
                width: 55em;
            }
        }
    }
    
    @media(max-width: 992px) {
        #about {
            background: linear-gradient(175deg, var(--black-010) 20%, var(--white-010) 20%);
            .container {
                width: 100%;
            }
        }
    }

    @keyframes animate {
        0% {
            background-position: 0 0;
        }
        25% {
            background-position: 100% 0;
        }
        50% {
            background-position: 100% 100%;
        }
        75% {
            background-position: 0 100%;
        }
        100% {
            background-position: 0 0;
        }
    }
}