:root {
    --black-010:hsl(240, 100%, 2%);
    --black-020: #00000b;

    --blue-010: #000053;
    --blue-020: #00003b;
    --blue-030: #c7c7ff;
    --blue-040: #ababff;

    --white-010: white;

    // cores gradient
    --color-core-1: #153ae0;
    --color-core-2: #f61379;
    --color-core-3: #ffa400;
    --color-core-4: #850ad6;
    --color-core-5: #009ffd;
}