:root {
    --black-010:hsl(240, 100%, 2%);
    --black-020: #212121;
    
    --white-010: #e6e6e6;

    // cores gradient
    --color-core-1: #153ae0;
    --color-core-2: #f61379;
    --color-core-3: #ffa400;
    --color-core-4: #850ad6;
    --color-core-5: #009ffd;
}