* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    overflow-x: hidden !important;
    font-family: "Istok Web", sans-serif;
    background-color: var(--white-010);
    color: var(--black-010);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-size: 1.3em;
    font-style: italic;
}

hr {
    border: none;
    border-top: 2px solid var(--white-020);
    width: 100%;
}

.active {
  color: var(--blue-010);
}
