:host {
    #mobile-menu, #nav-menu {
        display: none;
    }

    #desktop-menu {
        min-width: 100%;
        display: flex;
        padding: 0.5em 1em;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        z-index: 10;
        position: fixed;
        background-color: var(--black-020);

        h1 {
            margin: 0;
            font-size: 2.5em;
            font-weight: 600;
        }

        nav {
            display: flex !important;
            justify-content: right;
            align-items: center;
            width: 100%;
            top: 10px;
        
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2em;
                margin: 0;
                padding: 0;
                list-style: none;
            }
        
            li a {
                color: var(--white-010);
                font-size: 1em;
                font-weight: 200;
                position: relative;
        
                &::after {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 30px;
                }
        
                &::before {
                    content: '';
                    position: absolute;
                    width: 10px;
                    height: 30px;
                }
        
                &:hover {
                    color: transparent;
                    -webkit-background-clip: text;
                    background-clip: text;
                    background-image: radial-gradient(circle, var(--color-core-1) 0%, var(--color-core-2) 20%, var(--color-core-3) 40%, var(--color-core-4) 60%, 
                    var(--color-core-5) 80%, var(--color-core-1) 100%);
                    background-size: 180%;
                    transition: 0.4s all ease;
        
                    &:hover::after {
                        content: ']';
                        position: absolute;
                        right: -12px;
                        top: 0;
                        width: auto; 
                        font-size: 1em;
                        color: white;
                    }
        
                    &:hover::before {
                        content: '[';
                        position: absolute;
                        left: -12px;
                        top: 0;
                        width: auto; 
                        font-size: 1em;
                        color: white;
                    }
                }
            }
        }
        
    }

    @media(max-width: 992px) {
        #desktop-menu  {
            display: none;
            z-index: 10;
        }

        #mobile-menu {
            display: flex;
            justify-content: right;
            align-items: center;
            justify-content: space-between;
            padding: 0em 1em;
            min-width: 100%;
            position: fixed;
            z-index: 10;
            background-color: var(--black-020);

            h1 {
                margin: 0;
            }

            .container {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }

            nav {
                display: flex;
                justify-content: right;
                padding-top: 0.5em;
                padding-bottom: 1em;
                left: 0;
                width: 100%;
                position: absolute;
                top: 57.5px;
                background-color: rgba(0, 0, 0, 0.4);
                backdrop-filter: blur(3px);
                -webkit-backdrop-filter: blur(3px); 

                ul {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: end;
                    gap: 0.2em;
                    padding-right: 1em;
                    width: 100%;
        
                    li a {
                        color: var(--white-010);
                        font-size: 1.2em;
                        font-weight: 400;
                        position: relative;
        
                        &::after {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 30px;
                        }
        
                        &::before {
                            content: '';
                            position: absolute;
                            width: 10px;
                            height: 30px;
                        }
        
                        &:hover {
                            color: transparent;
                            -webkit-background-clip: text;
                            background-clip: text;
                            background-image: radial-gradient(circle, var(--color-core-1) 0%, var(--color-core-2) 20%, var(--color-core-3) 40%, var(--color-core-4) 60%, 
                            var(--color-core-5) 80%, var(--color-core-1) 100%);
                            background-size: 180%;
                            transition: 0.4s all ease;
        
                            &:hover::after {
                                content: ']';
                                position: absolute;
                                right: -12px;
                                top: 0;
                                width: auto; 
                                font-size: 1em;
                                color: white;
                            }
        
                            &:hover::before {
                                content: '[';
                                position: absolute;
                                left: -12px;
                                top: 0;
                                width: auto; 
                                font-size: 1em;
                                color: white;
                            }
                        }
                    }
                }
            }

            #menu-list {
                background-color: transparent;
                border: 1px solid var(--white-010);
                cursor: pointer;
                transition: 0.4s all ease;
                
                &:hover {
                    border: 1px solid var(--color-core-4);
                }

                svg {
                    color: var(--white-010);
                }
            }
        }
    }
}
