:host {
    display: flex;
    flex-direction: column;
    gap: 2em;

    .project {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white-020);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            gap: 1em;
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }

        img {
            width: 20em;
        }
    }
}