:host {
    display: flex;
    flex-direction: column;
    gap: 2em;

    h2 {
      scroll-margin-top: 150px;
    }

    .project {
        display: flex;
        justify-content: center;
        align-items: center;

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            padding: 1em;
            gap: 1em;
        }

        .btns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }

        img {
            width: 20em;
        }
    }

    @media(max-width: 1200px) {
        .project {
            flex-direction: column;
            padding: 1em;
        }
    }
}
