:host {
    footer {
        padding: 0.5em;
        min-width: 100%;
        position: absolute;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--black-020);
    }

    span {
        font-weight: 500;
        font-size: 1em;
    }
}