:host {
    footer {
        padding: 1em;
        margin-top: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--blue-020);

        span {
            font-weight: 700;
            color: var(--white-010);
        }
    }
}