:root {
    --black-color: #11052c;
    --primary-color: #f43b86;
    --secondary-color: #3d087b;
    --terciary-color: #ffe459;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--black-color);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.navbar {
    position: fixed;
    min-width: 100%;
    z-index: 11;
}

.navbar-brand {
    margin-left: 6%;
}

main {
    min-height: 100vh;
    padding-top: 4rem;
}

#home h1 {
    font-size: 3.3em;
}

#home #home__box--pink {
    background-color: var(--primary-color);
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 2em 2em 10em 2em;
}

#home #home__box--yellow {
    min-height: 60vh;
    background-color: var(--terciary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10em 2em 2em 2em;
}

#about {
    color: var(--primary-color);
}

#about h2 {
    color: var(--black-color);
}

#about #about__medias {
    display: flex;
    gap: 1em;
    padding: 0;
}

#about #about__medias a {
    font-size: 30px;
    color: var(--primary-color);
    transition: all 0.4s ease;
}

#about #about__medias a:hover {
    color: var(--black-color);
}

.btn {
    background-color: var(--secondary-color);
    color: var(--terciary-color);
    border: none;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background-color: var(--terciary-color);
    color: var(--secondary-color);
}

#projects {
    background: linear-gradient(to bottom right, white 0%, white 15%, var(--secondary-color) 5%, var(--secondary-color)106%);
    min-height: 70vh;
}

#projects #projects__box h1 {
    text-align: center;
    color: var(--primary-color);
}

#projects #projects__box .swiper {
    margin-top: 1em;
}

#projects #projects__box .swiper, #projects #projects__box .swiper img {
    max-width: 25em;
}

#contact {
    min-height: 60vh;
}

#contact h1 {
    color: var(--primary-color);
}

#contact #contact__input {
    margin-top: 1.2em;
}

#contact #contact__input .form-control {
    border: 1px solid var(--black-color);
}

#contact #contact__input textarea {
    height: 250px;
    resize: none;
}

#contact #contact__input .form-control:focus {
    box-shadow: 5px 5px 10px var(--primary-color);
    border: 1px solid var(--primary-color);
}

#contact #contact__button {
    display: flex;
    justify-content: center;
}

#contact #contact__button .btn {
    min-width: 10em;
}

footer {
    background-color: var(--black-color);
    color: white;
    text-align: center;
}

@media(max-width: 768px) {
    #projects {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #projects #projects__box .swiper, #projects #projects__box .swiper img {
        max-width: 20em;
    }
}

@media (min-width: 1200px) { 
    #projects #projects__box .swiper, #projects #projects__box .swiper img {
        max-width: 35em;
    }
}