img {
    width: 40px;
    height: 40px;
    background-color: var(--white-010);
    padding: 0.5em;
    transition: 0.4s all ease;

    &:hover {
        transform: scale(1.2);
    }
}

.my-img {
    min-width: 10em;
    object-fit: cover;
    height: 10em;
    transform: scale(1) !important;
    border: 2px solid var(--black-010);
    animation: changeBorderRadius 10s ease-out infinite;
}

.img-project {
    width: 20em;
    height: 10em;
    padding: 0;
    background-color: transparent;
    transform: scale(1) !important;
}