<h2 id="courses">📖 See all my completed courses!</h2>

<div class="courses animate__animated animate__bounceInRight">
  <div class="course">
    <h3>Angular 2 (v17)+</h3>
    <p>
      In this comprehensive Angular 2 course, version 17+, I embarked on a
      learning journey that covered everything from fundamental concepts to advanced practices in modern web application development.
    </p>
      <a class="btn" href="assets/certificates/Certificado_Angular.jpg" target="_blank">View certificate</a>
  </div>

  <div class="course">
    <h3>Bootstrap</h3>
    <p>
      In this Bootstrap course, I delved into the world of front-end development, learning to create responsive
      and attractive layouts easily, utilizing practices from the simplest to the most advanced.
    </p>
    <a class="btn" href="assets/certificates/Certificado_bootstrap.jpg" target="_blank">View certificate</a>
  </div>

  <div class="course">
    <h3>TypeScript</h3>
    <p>
      In this TypeScript course, I explored the powerful features that this language offers
      to enhance JavaScript application development and make them more robust with practices used in the industry.
    </p>
    <a class="btn" href="assets/certificates/Certificado_TypeScript.jpg" target="_blank">View certificate</a>
  </div>
</div>
