:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  #courses {
    position: sticky;
    top: 0;
    scroll-margin-top: 150px;
  }

  .courses {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
    gap: 1em;

    .course {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1em;
      padding: 1em;
    }

    .btn {
      width: 10em;
    }
  }

  @media(max-width: 992px) {

      .courses {
        width: 100%;
      }
    }
}
