:host {
    display: block;
    min-height: 100vh;

    main {
        padding-top: 9em;
        height: 100%;
        width: 100%;
    }

    @media (max-width: 992px) {
      main {
        padding: 1em;
        padding-top: 6em;
      }
    }
}
