:root {
    --black-010: #161618;
    --black-020: #1b1b1f;
    --black-030: #161618;

    --white-010: white;
    --white-020: #f6f6f7;

    --blue-010: #A7C7E7;
    --blue-020: #8FB2D6;

    --green-010: #B0E57C;
    --orange-010: #FFB347;
    --pink-010: #FADADD;
    --yellow-010: #FDFD96;
    --lavanger-010: #CBC3E3;
    --peach-010: #FFD1BA;
    --mint-010: #98FF98;
    --coral-010: #FFB3A7
}
